.filter-produk{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content-filter{
    margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem 2rem;
}

.content-filter .btn{
    background-color: rgba(211, 12, 12, 0.185);
}

.content-filter .btn:hover{
    background-color: rgb(211, 12, 12);
    color: aliceblue;   
}

.content-filter .btn:hover img{
    filter: none !important;  
}

.content-filter img{
    filter: invert(100%);
}

.body-filter{
    width: 300px;
    height: 110px;
    display: flex;
	align-items: center;
    justify-content: center;
}

.body-filter button{
    position: absolute;
}

.produk{
    animation: fadeInUp; 
    animation-duration: 1s; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-produk{
    margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: center;
    /* gap: 2rem 2rem; */
}

#b-produk{
    background-color:rgba(0, 0, 255, 0);
    border-color:rgba(0, 0, 255, 0);
    width:280px;
    height:130px;
}

#gambar-produk{
    width: 300px;
    height: 300px;
    border-radius:10px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 #990e0e5b;
	object-fit: cover;
	transition: all .2s ease-in-out;
}

#gambar-produk:hover{
	transform: scale(1.1);
	transition: 300ms;
}


@media screen and (max-width: 992px) {

    .body-filter{
        width: 400px;
    }

    .content-produk{
        flex-direction: column;
    }

    .content-filter{
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {

    .body-filter{
        width: 300px;
    }

}

