body{
  font-family: 'Poppins';
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sejarah{
	margin-top: 100px;
  transition: all 0.5s;
}

.sejarah1{
	animation: fadeInLeft; 
  animation-duration: 1s; 
}
.sejarah2{
	animation: fadeInRight; 
  animation-duration: 1s; 
}

.visi{
  margin-top: 100px;
}

.visi p{
  font-weight: 500;
}
.visi h3{
  font-weight: 600;
}



